LenguajeDeMarcas/blanco_charro_nelson_LMSGI04_Tarea/ejercicio2/blanco_charro_nelson_torneo.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT torneo(participante+)>
<!ATTLIST torneo edicion CDATA #REQUIRED>
<!ATTLIST torneo anteriorGanador CDATA #REQUIRED>

<!ELEMENT participante(nombre, edad, pais, cabezaDeSerie?)>
<!ATTLIST participante codigo ID #REQUIRED>
<!ATTLIST participante compañero CDATA #REQUIRED>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT cabezaDeSerie EMPTY>
